.container {
  position: sticky;
  top: 0;
  background-color: white;
  /* background-color: transparent; */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border: 0px solid black;
}

.logo-container {
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
}

.menu {
  font-size: 18.5px;
  margin: 0 10px;
  color: #484848;
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
}

.menu:hover {
  color: var(--main);
  transition: 0.4s;
}

.divider {
  border: 1px solid #484848;
  height: 25px;
}

.lang-button {
  text-align: center;
  line-height: 0;
  color: var(--main);
  margin: 0 50px;
  min-width: 50px;
  border: 0px solid #484848;
  /* color: #484848; */
  /* border-radius: 5px; */
  padding: 10px;
}

.lang-button:hover {
  & .lang-popup {
    display: block;
  }
}

.lang-popup {
  display: none;
  position: absolute;
  margin-top: 12px;
  margin-left: -12px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: var(--main);
  border-radius: var(--radius);
}

.lang-popup ul {
  list-style: none;
  list-style-type: none;
  border: 0px solid black;
  padding-inline-start: 0px;
}


.lang-popup ul li {
  color: white;
  text-align: center;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}