html {

  scrollbar-color: var(--main) var(--grey);
  scrollbar-width: thin;
  /* colors */
  --main: rgb(79,179,67);
  --grey: #fafafa;
  --black: black;

  /* spacing */
  --margin: 100px;
  --padding: 5px;
  --shadow: 5px;
  --radius: 5px;

  /* font sizes */
  --heading: 24px;
  --body: 16px;

}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p, li {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #525252;
}

b  {
  color: #525252;
}


