html {
  /* colors */
  --blue: rgb(25,26,130);
  --grey: #fafafa;
  --black: black;

  /* spacing */
  --margin: 100px;
  --padding: 5px;
  --shadow: 5px;

  /* font sizes */
  --heading: 24px;
  --body: 16px;

}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

p, li {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #525252;
}

b  {
  color: #525252;
}

