.container {
  margin: var(--margin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-cell {
  width: 50%;
}

.img-cell {
  width: 50%;
  height: 500px;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url('../../assets/used_machines.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.list {
  list-style: none;
}
